<p id="notice"><%= notice %></p>
<div class="profile row">
  <div class="col-md-4 avatar">
    <div class="wrapper">
        <img src="https://instuigram-avatar.jpg">
      </div>
  </div>
  <div class="col-md-8 basic-info">
    <div class="user-wrapper">
        <h2 class="username">
          <strong>Username:</strong>
          <%= @user.firstname %>
          <%= @user.lastname %>

        </h2>

      </div>
      <ul class="posts">
        <li><span><%= @user.posts.count %></span> posts</li>
        <li><span><%= @user.followers.count%></span> followers</li>
        <li><span><%= @user.following.count%></span> following</li>
      </ul>
      <h2 class="name"> </h2>
      <a class="website"><%= @user.email %></a>
      <a class="edit-profile">
      <%= #link_to 'Edit profile', edit_user_path(@user)

        if @user == current_user
             link_to 'Edit Profile', edit_user_path(@user),
                                      class: 'btn edit-button'
        else if current_user.following?(@user)
            link_to 'Unfollow', friendship_path(user_id: @user.id),
                                   class: 'btn unfollow-button',
                                   id: 'unfollow-button',
                                   method: :delete
        else
            link_to 'Follow', friendships_path(user_id: @user.id),
                                   class: 'btn unfollow-button',
                                   id: 'unfollow-button',
                                    method: :post

        end
      end
       %>
      </a>
    </div>

  </div>


<div class="posts">
  <% @posts.each do |post| %>

<section class="post">
  <div class="user">
    <div class="avatar">
      <img src="user_avatar.jpg">
    </div>
    <div class="username">
       <%= post.user.firstname%> <%= post.user.lastname%>
    </div>
  </div>
  <div class="user-images">
      <div class="wrapper">
        <%=image_tag post.image, class: 'main-image'  %>
      </div>
  </div>
  <div class="description">
    <%= post.body %>
  </div>
  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

</section>

<% end %>
</div>
